<div class="container-fluid mt-3">
    <div class="row">
        <app-sidebar id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse"></app-sidebar>
        <main role="main" class="mx-auto col-md-9 ml-sm-auto px-md-4 mt-5 text-center">
            <h4>Evolución de la pandemia en España y el mundo</h4>
            <div class="row mt-5 ml-2 d-flex justify-content-center">
                <div class="col-12 col-md-9 m-1">
                    <img class="img-fluid img-thumbnail" src="https://resources.gabriele.ai/coronavirus/2020-11-21-11_01-COVID-world-en_generic_COVID_EN_GENERIC_spain_confirmed.png" alt="spain_confirmed_graphic">
                </div>
                <div class="col-12 col-md-9 m-1">
                    <img class="img-fluid  img-thumbnail"  src="https://resources.gabriele.ai/coronavirus/2020-11-21-11_01-COVID-world-en_generic_COVID_EN_GENERIC_spain_deaths.png" alt="spain_deaths_graphic">
                </div>
                <div class="col-12 col-md-9 m-1">
                    <img class="img-fluid  img-thumbnail"  src="https://resources.gabriele.ai/coronavirus/2020-11-21-11_01-COVID-world-en_generic_COVID_EN_GENERIC_world.png" alt="spain_deaths_graphic">
                </div>
            </div>
        </main>
    </div>
</div>
