<div class="text-center">
    <main role="main" class="inner cover">
        <h1 class="cover-heading mt-5 mb-5">InfoCovid</h1>
        <p class="lead container">Esta es una web informativa con datos actualizados diariamente.</p>
        <p class="lead container">Solamente utilizamos fuentes oficiales o confiables desde las que extraemos la información
            periódicamente de manera automática, minimizando la posibilidad de error.</p>
        <p class="lead mt-5 mb-5">
            <a [routerLink]="['/about-us']" class="btn btn-lg btn-secondary">Saber más</a>
        </p>
        <div class="mb-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-3 border p-3 m-1">
                        <p><strong>¿Qué es?</strong></p>
                        <p>Nuestra web proporciona datos agregados de diferentes fuentes confiables para que puedas realizar
                            el seguimiento del COVID-19 desde un único lugar.
                        </p>
                    </div>
                    <div class="col-sm-3 border p-3 m-1">
                        <p><strong>¿Cada cuanto se actualiza?</strong></p>
                        <p>Cada día obtenemos varios conjuntos de datos de diferentes instituciones, de esta manera, realizamos actualizaciones
                            prácticamente cada hora con la nueva información.</p>
                    </div>
                    <div class="col-sm-3 border p-3 m-1">
                        <p><strong>¿De dónde sacamos los datos?</strong></p>
                        <p>Todos los datos son oficiales a partir de los datos recopilados del Ministerio de Sanidad, del Dipartimento della Protezione Civile de Italia, Robert Koch Institute de Alemania, Santé publique France y de la Johns Hopkins University</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>