<div class="mt-5 container font-weight-lighter">
    <h1 class="font-weight-light text-center">CORPORACIÓN MULTIMEDIA</h1>
    <br>
    <p>Corporación Multimedia es la una empresa privada española de medios de comunicación de ámbito estatal. La integran diferentes grupos de prensa independiente y un conjunto de programas de radio emitidos por streaming y recopilados en plataformas de podcast.</p>
    <h5>Referente de calidad</h5>
    <p>Garantizamos productos con programaciones diversas y equilibradas para todos los públicos con información, debate, educación y entretenimiento de calidad. Contribuye a la cohesión social.</p>
    <h5>Compromiso tecnológico</h5>
    <p>Somos es una empresa innovadora. La Corporación desarrolla proyectos que reflejan su compromiso con las nuevas tecnologías y el desarrollo sostenible.</p>
    <h5>Un espacio para todos</h5>
    <p>Ofrecemos una información rigurosa, independiente y plural y un entretenimiento de calidad. Garantiza el derecho de acceso; apoya la difusión de las artes, la ciencia y la cultura y apuesta por la participación.</p>
    <br>
</div>